body{
    width: 95%;
    text-align: center;
    font-family: Arial,Helvetica, sans-serif;
    max-width: 1280px;
    margin: auto;
}
header{
    height: 200px;
    margin-top: 8px;
    background-image: url("../images/bgsky3.jpg");
    background-repeat: no-repeat;
    color: darkblue;
}
header > p:first-child{
    font-size: 300%;
    margin-top: 0px;
    font-weight: bold;
    font-style: italic;
}
header > p{
    font-size: 240%;
    font-weight: bold;
}
header > img{
    position: relative;
    left: 150px;
    bottom: 150px;
}
aside{
    border: #999999 1px solid;
    background-color: #dddddd;
    float: right;
    width: 25%;
}

aside > h3{
    font-size: 120%;
    background-color: blue;
    color: white;
}

aside > p{
    padding: 10px;
    font-size: 90%;
   color : #666666;
}

section{
    margin: 10px;
    width: 75%;
}

section > article{
    text-align: justify;
    padding-right:30px;
    padding-bottom: 20px;
    padding-top: 10px;
}

section > div:first-child{
    float: left;
    background-repeat: no-repeat;
    padding-top: 20px;
    padding-right:40px;
    padding-left: 20px;
    margin-bottom: 80px;
}

p > span {
    font-weight: bold;
    font-style: italic;
    color: blue;
}

section > div:last-child{
    margin-right: 10px;
    background-color: #999999;

}

.foto{
    display: inline-block;
    margin: 20px;
    margin-right: 40px;
    margin-left: 0px;
    background-color: white;
    border: black 2px dotted;
    padding: 10px;
    height: 180px;
    width: 180px;
}

footer{
    background-color: #666666;
    color: white;
    line-height: 2em;
}
footer > div{
    display: inline-block;
}

footer > nav{
    margin-left: 120px;
    display: inline-block;
}
li{

}
a:hover{
    color: red;
}