h1,h2,h3 {
    font-family: "Arial",serif;
}
h1 {
    font-size: 1.8em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.4em;
}
p {
    font-family: "Times New Roman",serif;
    font-size: 1.2em;
}
.klas {
    color: red;
}
.naam {
    color: green;
}
.taal {
    color: yellow;
}
